button {
    cursor: pointer
}

.form-group textarea {
    height:300px
}

.messages .message {
    float:left;
}

.message .id {
    width: 50%;
    float: left;
    font-size: 0.65em;
}

.message .createTime {
    width: 50%;
    float: right;
    text-align: right;
    font-size: 0.65em;
}

.message .content {
    width: 100%;
    float: left;
    font-size: 0.85em;
}